<!DOCTYPE html>
<html>
<head>
	<title> {{title}} </title>
    <link rel="shortcut icon" href="static/re.svg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header id="background">
        <div class="hd-bg bgblue"></div>
        <div class="hd-bg bgpurple"></div>
        <div class="hd-bg bggreen"></div>
        <div class="hd-bg bggrey"></div>
    </header>
    <div id="total">
        <p id="title">恭  贺<br>新  年</p>
        <label>
            <input type="checkbox"  />
            <div class="card">
                <div class="front"></div>
                <div class="back">
                    <p class="back-font">
                        Happy Chinese New Year 2021! May this year bring peace, good health, happiness, prosperity. Have a fabulous New Year ahead! Here's wishing each and every one of you an awesome year.           
                    </p></div>
            </div>
        </label>
        <p id="title" style="font-family: 'Lato';font-size: 40px; margin-top: 0;">2021</p>
    </div>
    <footer>
        <div class="ft-bg bgblue"></div>
        <div class="ft-bg bgpurple"></div>
        <div class="ft-bg bggreen"></div>
        <div class="ft-bg bggrey"></div>
    </footer>
</body>

</html>